.mob-marker-circle {
	r: 10;
	fill: #ff0;
	opacity: 0.8;
	stroke: #000;
	stroke-width: 3;
}

.mob-marker-rectangle {
	width: 15px;
	height: 15px;
	fill: #0f0;
	opacity: 0.8;
	stroke: #000;
	stroke-width: 3;
}

.img-nearest {
	image-rendering: auto;
}

.box-div {
	background-color: #595463;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding: 0.5rem 0.75rem;
}

.box-div p {
	margin: 0.75rem;
}

.box-div-important {
	background-color: #d4b868;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding: 0.5rem 0.75rem;
}

.box-div-important p {
	color: #120e02;
	margin: 0.75rem;
}

.box-div-info {
	background-color: #546356;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding: 0.5rem 0.75rem;
}

.box-div-info p {
	color: #d1d1d1;
	margin: 0.75rem;
}

.ext-link:after {
	content: '⧉';
}

.npc-div {
	display: flex;
}

.npc-div-bottom {
	display: flex;
	align-items: end;
}

.npc-image {
	margin: 2%;
}

.mob-highlight {
	color: #c8ff00;
}

.mob-link-highlight {
	color: #c8ff00;
	text-decoration: underline;
}

.mob-link-highlight:hover {
	color: #88aa44;
	text-decoration: none;
}

.mob-link-highlight:active {
	color: #4488aa;
	text-decoration: none;
}

.mob-image {
	float: left;
}

.mob-div-description-flex {
	display: flex;
	min-width: 35%;
}

.mob-div-description {
	line-height: normal;
	display: inline-block;
	margin-bottom: 0.75rem;
	padding: 0.5rem 0.75rem;
	background-color: #302d36;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	flex-grow: 100;
}

.mob-div-description p {
	margin-top: 0;
	margin-bottom: 0;
}

.mob-div {
	line-height: 0.5;
	padding: 0.5rem 0.75rem;
	margin-bottom: 1.5rem;
	background-color: #302d36;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.mob-npc-div {
	width: 50%;
	float: left;
}

.mob-boss-div {
	width: 50%;
	float: left;

}

.mob-normal-div {
	clear: left;
	padding: 0.5rem 0.75rem;
	margin-bottom: 1.5rem;
	background-color: #302d36;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.mob-normal-left-div {
	width: 50%;
	float: left;
}

.mob-normal-right-div {
	width: 50%;
	margin-left: auto;
	margin-top: 1.5rem;
}

.mob-drops {
	line-height: 0.5;
}

.dropped-by {
	clear: left;
}

.mob-atr {
	color: #c8ff00;
}

.atr-health {
	color: #c8ff00;
	content: 'Health: ';
}